.home.mx-12.my-6
  .month-number.display-1.font-weight-bold.mb-4 2月
  .calendar-body.border
    .calendar-header.d-flex
      .week-of-day.border(v-for="item in weekOfDay", :key="item")
        .title.font-weight-bold(:class="{'red--text': item === 'SUN', 'blue--text': item === 'SAT'}") {{ item }}
    .week-box.d-flex
      .day-box.border
        .day-number.headline.font-weight-bold.text-left.pt-4.pl-6 1
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
    .week-box.d-flex
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
    .week-box.d-flex
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
    .week-box.d-flex
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
    .week-box.d-flex
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
