.home.mx-12.my-6
  .month.mb-4.d-flex.justify-center
    v-icon.arrow-icon.display-1 mdi-chevron-left
    .month-text.mx-8
      .month-number.display-2.font-weight-medium.pb-1 2
      .title.px-5.pt-1 Feb 2020
    v-icon.arrow-icon.display-1 mdi-chevron-right
  .calendar-body.border
    .calendar-header.d-flex
      .week-of-day.border(v-for="item in weekOfDay", :key="item")
        .title.font-weight-bold(:class="{'red--text': item === 'SUN', 'blue--text': item === 'SAT'}") {{ item }}
    .week-box.d-flex
      .day-box.border
        .day-number.headline.font-weight-bold.text-left.pt-4.pl-6 1
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
    .week-box.d-flex
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
    .week-box.d-flex
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
    .week-box.d-flex
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
    .week-box.d-flex
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
      .day-box.border
