.home.mx-12.my-6
  .week-box.d-flex
    .day-box
    .day-box
    .day-box
    .day-box
    .day-box
    .day-box
    .day-box
  .week-box.d-flex
    .day-box
    .day-box
    .day-box
    .day-box
    .day-box
    .day-box
    .day-box
  .week-box.d-flex
    .day-box
    .day-box
    .day-box
    .day-box
    .day-box
    .day-box
    .day-box
  .week-box.d-flex
    .day-box
    .day-box
    .day-box
    .day-box
    .day-box
    .day-box
    .day-box
  .week-box.d-flex
    .day-box
    .day-box
    .day-box
    .day-box
    .day-box
    .day-box
    .day-box
